.skill {
    background-color: rgb(26, 26, 26);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin: 3px;
}

.multi-column {
    width: 100%;
    height: fit-content;
    align-self: center;
}

.skill:hover {
    background-color: blue;
    color: white;
}