.skill {
    background-color: #ccc;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin: 3px;
}

.multi-column {
    width: 100%;
    height: fit-content;
}

.skill:hover {
    background-color: blue;
    color: white;
}