.timeline-droppable {
    width: 100%;
    padding: 30px 0px 30px 0px;
}

.timeline {
    height: 2px;
    background-color: black;
    position: relative;
    margin: 50px 20px 50px 20px;
}

.timeline-container {
    width: 100%;
}