.plane{
    width: 100%;
    height: 300px;
    // border-left: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    position: relative;
    // padding-left: 40px;
}

.x-axis-lable {
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    transform: translate(-50%, 100%)
}
