$width: 200px;

@mixin square($width, $offset) {
    width: $width + $offset;
    height: $width + $offset;

}

@mixin picture($width, $offset) {
    @include square($width, $offset);
    border-radius: ($width + $offset) / 2;
    z-index: 1;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-info {
    width: 100%;

    .profile-picture {
        @include picture($width, 0px);
    }

    .inner-border {
        @include picture($width, 6px);
        @include center;
        background-color: #fff;
    }
    
    .outer-border {
        @include picture($width, 12px);
        @include center;
        background-color: black;
    }

    .details-box {
        width: 100%;

        .name-box {
            background-color: black;
            color: #fff;
            height: $width / 2;
            transform: translateX(-$width / 2);
            padding-left: $width / 2 + 30px;
            border-radius: 0 $width / 6 $width / 6 0;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            
            span {
                font-family: Avenir;
                font-size: 50px;
                text-align: center;
            }
        }

        .detail {
            display: flex;
            flex-direction: row;
            margin-right: 20px;
            padding-top: 10px;

            .icon {
                @include square(30px, 0px);
                margin-right: 5px;
            }
        }
    }
}

.short-description {
    padding-top: 10px;
    word-wrap: normal;
}
